@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  select, select option {
    background-color: #ffffff;
    color: #000000;
    background-image: none !important;
  }
  
  ::selection {
    background-color: #dbeafe; /* blue-100 */
    color: #0f172a;
  }
}
